<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Additional styles or scripts can be included here -->
</head>
<nav class="linkedin-navbar">
    <a href="/" class="logo">
      <img src="linkedin-logo.png" alt="LinkedIn">
    </a>
    <ul class="nav-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">My Network</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="#">Learning</a></li>
    </ul>
    <div class="search-bar">
      <form action="/search" method="post">
      <input type="text" placeholder="Search for people" name="search" id=" search">
      <button type="button"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="user-actions">
      <a href="#">My Profile</a>
      <a href="/login">Sign Out</a>
    </div>
    </nav>
<body>
    <div class="container">
        <div class="left-column">
            <!-- User info section -->
            <h2>User Info</h2>
            
            <img id="prp" src="<%= profilePic %>" alt="Profile Picture" height=200px,width=200px style="border-radius: 100%; display: block; margin: 0 auto;">
            <div class="user-info">
                <div class="user_id"><p id="user_id">User ID: <%= userId %></p>  </div>              
               <div class="name"> <p id="name">Name:<%= name %></p> </div>
              </div>
              
        </div>
        <div class="right-column">
            <!-- Posts section -->
            <h2>All Posts</h2>
            <% if (posts.length > 0) { %>
                <% posts.reverse().forEach(post => { %> 
                    <div class="post">
                        <p class="user-id">User ID: <%= post.user_id %></p>
                        <p class="content">Content: <%= post.content %></p>
                        <img id="post_image" src="/uploads/<%= post.image %>" alt="Post Image" class="post-image">
                        <form action="/delete_post" method="POST">
                          <input type="hidden" name="postId" value="<%= post.id %>">
                          <button type="submit">Delete</button>
                        </form>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No posts found</p>
            <% } %>
        </div>
    </div>
    <script>
      document.getElementById('searchForm').addEventListener('submit', (event) => {
  event.preventDefault(); // Prevent default form submission
  const searchTerm = document.getElementById('search').value.trim();
  window.location.href = `/search?query=${searchTerm}`;
});
    </script>
</body>
</html>
